# See http://help.github.com/ignore-files/ for more about ignoring files.
# jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules
node_modules.*/
package-lock.json
yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/coverage-report
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
